{% extends 'flatpages/default.html' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th><a href="{% url 'board:post_list' %}">Back to the main page</a></th>
        </tr>
        <h2>Comment</h2>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Text</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ comment.author }}</td>
            <td>{{ comment.post }}</td>
            <td>{{ comment.comment_text }}</td>


        </tr>
    </tbody>
</table>

{% endblock content %}