{% extends 'sign/main.html' %}

{% block content %}
<h2>page of authorised user: {{ request.user.username}}</h2>
<form action="" method="get">
    {{ filterset.form }}
    <input type="submit", value="find">
</form>
<hr>
<button><a href="/">discard filter</a></button>
<button><a href="{% url 'board:post_list' %}">main page</a></button>
<hr>
<button><a href="{% url 'board:login' %}"> login </a></button>
<button><a href="{% url 'board:logout' %}"> logout </a></button>
<h4>comments</h4>
{% if comments %}
    {% for comment in comments %}
        {{ comment.author }}
        {{ comment.comment_text }}
<a href="{% url 'protect:delete' comment.id %}">delete</a>
<a href="{% url 'protect:accept' comment.id %}">accept</a>
    {% endfor %}
{% endif %}
{% endblock content %}